body {
    display: grid;
    grid-template-columns: 49.5% 50.5%;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: Roboto;
}

.interface {
    background-color: rgb(20, 20, 20);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 64px;
}

h2 {
    text-align: center;
    margin-bottom: 16px;
}

.main-parameters h2 {
    text-align: center;
    margin-bottom: 16px;
    margin-left: 10%;
}

.main-parameters {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 32px;
    background-color: rgb(16, 16, 16);
    text-align: center;
    padding: 16px;
    border-radius: 16px;
}

.parameter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1f 1fr 1f 1fr 1f 1fr 1f 1fr 1f 1fr 1f 1fr 1f;
    grid-template-rows:  1fr 1fr 1fr 1fr 1f 1fr 1f 1fr 1f 1fr 1f 1fr 1f 1fr 1f 1fr 1f;
    gap: 4px;
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding: 16px;
    border-radius: 16px;
}

.parameter-grid p {
    justify-self: center;
    align-self: center;
    font-weight: 600;
}

.parameter-grid input[type="text"] {
    display: block;
    margin: auto;
    width: 60px;
    height: 30px;
    margin-bottom: 8px;
}

.parameter-grid input[type="range"] {
    display: block;
    margin: auto;
    width: 60px;
}

input[type="text"] {
    border: none;
    border-radius: 100px;
    padding: 2px 8px;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}

#canvas {
    position: fixed;
    margin-left: 49.5%;
    grid-column: 2;
    background-color: rgb(0, 0, 0);
}

@media (max-width: 1800px) {
    #restartButton {
    left: 670px;
    }

    #pauseButton {
    left: 750px;
    }

    .particle-block input[type="text"] {
        width: 28px !important;
    }

    .particle-block input[type="range"] {
        width: 75px !important;
    }

    .particle-block input[type="color"] {
        width: 100px !important;
    }
}

@media (max-width: 1600px) {
    #restartButton {
        left: 570px;
    }

    #pauseButton {
        left: 650px;
    }

    .secondary-parameters {
        grid-template-columns: 1fr 1fr !important;
        row-gap: 16px;
    }

    .particle-block input[type="text"] {
        width: 32px !important;
    }

    .particle-block input[type="range"] {
        width: 120px !important;
    }

    .particle-block input[type="color"] {
        width: 140px !important;
    }

    .parameter-grid input[type="text"] {
        width: 40px !important;
        height: 20px !important;
        margin-bottom: 4px !important;
    }

    .parameter-grid input[type="range"] {
        width: 50px !important;
    }
}

@media (max-width: 1300px) {
    #restartButton {
        left: 450px;
    }

    #pauseButton {
        left: 530px;
    }
}

@media (max-width: 1200px) {
    #restartButton {
        left: 370px;
    }

    #pauseButton {
        left: 450px;
    }

    .particle-block input[type="range"] {
        width: 100px !important;
    }

    .parameter-grid input[type="text"] {
        width: 20px !important;
        height: 20px !important;
        margin-bottom: 2px !important;
        font-size: 8px;
    }

    .parameter-grid input[type="range"] {
        width: 30px !important;
    }
}

@media (max-width: 1000px) {

    #saveButton {
        font-size: 10px;
    }

    #langButton {
        width: 60px;
        left: 150px;
        font-size: 10px;
    }

    #restartButton {
        left: 300px;
    }

    #pauseButton {
        left: 375px;
    }

    .particle-block input[type="range"] {
        width: 60px !important;
    }
}

@media (max-width: 800px) {

    #restartButton {
        left: 220px;
    }

    #pauseButton {
        left: 300px;
    }

    .secondary-parameters {
        grid-template-columns: 1fr !important;
        row-gap: 16px;
    }

    .main-parameters h2 {
        font-size: 20px;
    }

    .particle-block input[type="text"] {
        width: 32px !important;
    }

    .particle-block input[type="range"] {
        width: 200px !important;
    }

    .particle-block input[type="color"] {
        width: 220px !important;
    }

    .parameter-grid input[type="text"] {
        width: 10px !important;
        height: 21px !important;
        margin-bottom: 0 !important;
        font-size: 8px;
    }

    .parameter-grid input[type="range"] {
        display: none;
    }

    .parameter-grid {
        gap: 2px;
    }
}
